:root {
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.layout-main {
  width: 100%;
  height: 100%;
}

.layout-footer {
  width: 100%;
  max-height: 150px;
}

.footer-bottom {
  padding: 0;
  height: 100%;

  .navbar-collapse {
    height: 100%;
  }
}

.dropdown-toggle::after {
  border-right: 0;
}

// 自定义
.cu-header {
  background: #ffffff;
  box-shadow: 0px 4px 59px rgb(0 0 0 / 5%);
}

.cu-swiper_info {
  @media screen and (max-width: 1700px) {
    width: 26.666667%;
  }
  @media screen and (max-width: 1400px) {
    display: none;
  }
  font-size: 15px;
  text-align: left;
  color: #7d7d7d;
  font-width: 500;
  h1 {
    font-size: 16px;
    color: #000000;
  }
  h2 {
    font-size: 15px;
    color: #000000;
  }
}

// more list
.cu-nav_bottom_more {
  display: none;
  @media screen and (max-width: 1400px) {
    display: block;
    padding: 1vw;
  }
}
.cu-more_back {
  min-width: 400px;
}

.cu-more {
  @media screen and (max-width: 1400px) {
    img {
      width: 250px;
    }
    p {
      width: 250px;
      font-size: 18px;
    }
  }
  p {
    text-align: left;
    font-size: 0.9vw;
    height: 1.7vw;
    line-height: 1.7vw;
    width: 13vw;
  }
  img {
    height: auto;
    display: block;
    width: 13vw;
    margin-right: 3vw;
  }
}

.cu-more_list {
  padding-left: 1vw;
  @media screen and (max-width: 1440px) {
    width: 80%;
  }
  @media screen and (max-width: 1400px) {
    display: block;
  }
}

.cu-more_button {
  width: 9vw;
  @media screen and (max-width: 1440px) {
    margin-top: -8vw;
    position: relative;
    right: -89vw;
  }
  @media screen and (max-width: 1400px) {
    margin-top: 0;
    position: relative;
    right: 0;
    margin-bottom: 11vw;
    height: 100px;
  }
}

.cu-more_nav {
  display: block;
  height: 9vw;
}

.dropdown-menu.show {
  background: #ffffff00;
  border-radius: 0;
  border: 0;
}

.cu-mb_5 {
  margin-bottom: 1.5vw !important;
}

.cu-background_more {
  //background-image: url("~/assets/images/ui/background/more-back.png");
  //background-size: cover;
}

// banner 主体限制
.cu-banner {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  //
  //@media screen and (max-width: 1400px) {
  //  height: 100%;
  //}
  //@media screen and (max-width: 1300px) {
  //  height: 80%;
  //}
  //@media screen and (max-width: 1000px) {
  //  height: 91%;
  //}
}

// Jiangxue Design logo
.cu-banner_page_num {
  position: absolute;
  background-image: url(~/assets/images/ui/background/banner-page_number.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4vw;
  height: 4vw;
  right: 4vw;
  margin-top: 29vh;
  bottom: 3vw;
  color: white;
  font-size: 1.5vw;
  p {
    margin-left: -7px;
    margin-top: -5px;
  }
  span {
    font-size: 15px;
    margin-top: 6px;
  }
  @media screen and (max-width: 1170px) {
    display: none;
    span {
      display: none;
    }
    p {
      display: none;
    }
  }
}

// 移动端 banner img 适配
.cu-banner_img_main {
  @media screen and (max-width: 1400px) {
    width: 100%;
  }
}

// 移动端 offcanvas bottom logo {
.cu-offcanvas_logo {
  @media screen and (max-width: 1400px) {
    width: 60px;
  }
}

// Team 初衷
.cu-banner_page_font {
  position: absolute;
  background-image: url(~/assets/images/ui/background/banner-page_font.svg);
  background-position: center;
  background-repeat: no-repeat;
  /* height: auto; */
  width: 138px;
  height: 192px;
  right: 4vh;
  background-size: 132px;
  color: white;
  font-size: 45px;
  @media screen and (max-width: 1400px) {
    display: none !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 37vw !important;
  background: #ffffff;
  background-image: url("~/assets/images/ui/background/banner-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 1440px) {
    height: 60vw !important;
  }
  @media screen and (max-width: 1400px) {
    height: 80vw !important;
  }
  @media screen and (max-width: 1300px) {
    height: 40vw !important;
  }
  @media screen and (max-width: 1024px) {
    height: 60vw !important;
  }
  @media screen and (max-width: 768px) {
    height: 100vw !important;
  }
}

// banner img
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-brand_conceal {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.navbar-toggler {
  border: 0;
}

@media screen and (max-width: 1440px) {
  .collapse:not(.show) {
    display: block !important;
  }
}
